@charset "UTF=8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,p{
    margin:0;
    padding:0;
    word-break:break-all;
}
html,body{
    height:100%;
}
#header_wrap *{
    font-family: "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "Dotum", sans-serif;
}
#header_wrap { 
    position: relative;
    background: #BED7F0;
    height: 40px;
    margin: 0 auto;
    z-index: 10000;
    letter-spacing: -1px;
    *zoom: 1;
}
#header_wrap #header_center{
    
    font-size: 14px;
    position: relative;
    
}
#header_wrap #header_box h1{
    float: left;
    position: relative;
    background: url('../img/logo.png'), no-repeat;
    width: 150px;
    height: 25px;
    margin-top: 5px;
}
#header_wrap #header_box h1 a{
    position: absolute;
    top: 0;
    width: 150px;
    height: 25px;
    text-indent: -9999px;
}
#header_wrap #header_box h1 a.logo{
    width: 150px;
    left: 0;
}
#header_wrap .header_search{
    float: left;
    position: absolute;
    top: 7px;
    margin-left: 160px;
}
#header_wrap .header_search .search_inner{
    position: relative;
    width: 150px;
    height: 25px;
    background: #BDCDDD;
}
#header_wrap .header_search .search_input_keyword {
	width: 120px;
	background: transparent;
	padding: 8px 6px 0 6px;
	border: 0 none;
	outline: 0 none;
	color: #fff;
	font-family: "dotum","돋움";
	font-size: 13px;
	line-height: 1em;
	background-repeat: no-repeat;
	background-position: 15px 50%;
    box-sizing: border-box;
}
#header_wrap .header_search .search_btn_ok {
	position: absolute;
	right: 6px;
	top: 5px;
	display: block;
	width: 18px;
	height: 18px;
	border: none;
	background: url('../img/search.png'), no-repeat;
	text-indent: -10000em;
	overflow: hidden;
	-webkit-appearance: none;
    box-sizing: border-box
}
#header_wrap .layout_right{
    float: right;
    margin-top: 7px;
    text-align: right;
    right: 0;
    position: relative;
    zoom: 1;
    z-index: 1000;
}
#header_wrap .usermenu{
    margin-right: 5px;
}
#header_wrap .usermenu ul{
    float: right;
    list-style: none;
}
#header_wrap .usermenu ul li{
    float: left;
    display: inline-block;
    margin-top: 4px;
    *margin-top: 5px;
    margin-left: 5px;
    padding-left: 6px;
    padding-right: 0;
    background: url('../img/bar.gif') no-repeat 0 1px;
    font: normal 11px Dotum;
    color: #666;
    letter-spacing: -1px;
    vertical-align: top;
}
#header_wrap .usermenu ul li.first-child{
    background: none;
}
#header_wrap ul li.mypage, #header_wrap ul li.last {
    margin-top: 4px;
}
#header_wrap ul li.mypage{
    position: relative;
    margin-left: 5px;
    padding-left: 6px;
    display: inline-block;
    color: #666;
    cursor: pointer;
    z-index: 106;
}
#header_wrap ul li.mypage a{
    color: #666;
}
#header_wrap ul li.mypage a:hover {
    color: #A566FF;
    text-decoration: none;
}
#header_wrap ul li.last{
    position: relative;
}
#header_wrap ul li.last a:hover {
    text-decoration: none;
}
#header_wrap li a,
#header_wrap li a:link,
#header_wrap li a:visited,
#header_wrap li a:active {
  text-decoration: none;
  font: normal 11px Dotum;
  color: #666;
}
#header_wrap li a:hover {
    text-decoration: underline;
    font: normal 11px Dotum;
    color: #A566FF;
  }
#header_wrap .layout_right img.icon_arrow{
    vertical-align: top;
    margin-top: 1px;
}
#header_wrap .mypage_sub{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    width: 65ox;
    display: inline-block;
    padding: 2px 0 2px 0;
    background: #fff;
    z-index: 250;
    border: 2px solid #000;
}
#header_wrap .mypage_sub ul{
    float: left;
    width: 65px;
    overflow: auto;
    overflow: hidden;
    margin: 0 0 2px 5px;
    padding: 0;
}
#header_wrap .mypage_sub ul li{
    margin: 0;
    padding: 3px 0 0 5px;
    width: 100%;
    height: 14px;
    text-align: left;
    background: url('../img/dot.gif') no-repeat left 9px;
    letter-spacing: -1px;
}
#header_wrap .mypage_sub ul li a{
    font: 11px dotum;
    color: #7f7f7f;
    letter-spacing: -1px;
}
#header_wrap .mypage_sub li a:active {
    font: 11px dotum;
    color: #7f7f7f;
    letter-spacing: -1px;
}
  
#header_wrap .mypage_sub li a:visited {
    color: #7f7f7f;
}
  
#header_wrap .mypage_sub li a:hover {
    font: 11px dotum;
    color: #A566FF;
    letter-spacing: -1px;
}